@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-chad-orange: #ea580c;
  --color-chad-dark: #0b0b0f;
}

:root {
  --background: #ffffff;
  --foreground: #0b0b0f;
}

.dark {
  --background: #0b0b0f;
  --foreground: #ffffff;
}
