@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-chad-blue: #2563eb;
}

/* Custom Scrollbar for the Blue Theme */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2563eb33;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
